<!--<div class="text-layout">
  <h1> {{ nombre | titlecase }} </h1>
</div>
<button pButton pRipple type="button" (click)="mostrarNombre()" label="Cambiar nombre" icon="pi pi-check" iconPos="right" class="p-button-help"></button>
<hr>
<p-card [header]="nombre | titlecase" subheader="Pipes App">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium quisquam et non eligendi obcaecati veritatis culpa voluptas iste, ratione ab eos rerum beatae incidunt optio repudiandae doloribus reiciendis delectus? Minus!
</p-card>-->

<app-menu></app-menu>
<router-outlet></router-outlet>